/*Uso ID para poder acceder al elelemto, con clase no me fue posible*/

#header img {
    width: 80px;
}


.login {
    border-radius: 10px;
}

.text-login {
    text-decoration: underline;
    color: black;
}